<!-- Navbar -->
<nav class="navbar navbar-expand">
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a href="/articles/1" class="navbar-brand text-colorByme text-fontByme">
      <img src="../assets/pictures/logoNewspaper.png" alt="logoNewspaper" width="40px" height="40px" />
      Newspaper
    </a>

    <!-- Sign In -->
    <a routerLink="edit-articles/1">
      <i class="fas fa-sign-in-alt fa-2x text-colorByme"></i>
    </a>

  </div>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4" style="border-top: 1px solid #004d8f;">
    <p class="col-md-4 mb-0">© 2020 Copyright</p>
    <a href="#" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <img src="../assets/pictures/logoNewspaper.png" alt="logoNewspaper" width="35px" height="35px" />
    </a>
    <p class="col-md-1 justify-content-end">Newspaper</p>
  </footer>
</div>
