@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.colorOrange {
    color: #ff4f28;
}

.edit-articles-header {
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.iconHeader {
    margin-right: 15px;
}

h4 {
    font-weight: bolder;
    font-size: 38px;
    margin: 0px;
    color: #ededed;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: #ededed;
    margin: 0px 30px 0px 0px;
}

.searchContainer {
    display: inline-flex;
    align-items: center;
    background-color: #ff4f28;
    position: relative;
    border: 1.5px solid #ededed;
    border-radius: 5px;
    overflow: hidden;
}

.searchIcon {
    padding: 0.5rem;
  }
  
.searchBox {
    border: 0;
    padding: 0.5rem 8rem 0.5rem 0.5rem;
    flex: 1;
    font-family: 'Merriweather', serif;
}

.addButton {
    border-radius: 20px; 
    padding: 8px 12px;
    background-color: #004d8f; 
    color: #ededed; 
    font-family: 'Merriweather', serif; 
    font-weight: bold;
    border: 2px solid #ededed;
    box-shadow: 0 5px #a9a9a9;
    margin: 30px 0px 15px 0px;
    
}

.editB, .removeB {
    box-shadow: 0 3.5px #a9a9a9;
}

.addButton:hover {
    background-color: #ededed;
    color: #004d8f;
}

.addButton:active {
    background-color: #ededed;
    color: #004d8f;
    box-shadow: 0 3px #a9a9a9;
    transform: translateY(3px);
}

.editB:active, .removeB:active {
    box-shadow: 0 0px #a9a9a9;
    transform: translateY(2.5px);
}

.table {
    font-family: 'Merriweather', serif;
    color: #ededed;
    border: 3px solid #ededed;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  * {box-sizing: border-box;}